{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "nav.html" %}

<div class="page" style="background-color: rgb(230, 226, 221);">

   <div class="update-form" style="border-radius: 34px;">

      <form action="" method="post" enctype="multipart/form-data">
         <div class="legend">
            <h5>Edit Profile</h5>
         </div>
         {% csrf_token %}
         {{ user_form.as_p }}
         {{ form.as_p }}
         <button type="submit" class="btn">Submit</button>
      </form>
   </div>

</div>

{% endblock content %}