{% load bootstrap4 %}
{% load static %}

<head>
   <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">

</head>


<div class="nav-bg " id="navbar">
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="logo">
         <div class="logo-icon">
            <a href="{% url 'home' %}">
               <img src="{% static 'images/insta2.png' %}" alt="">
            </a>
         </div>
         <div class="" style="font-family: 'Cookie', cursive;font-size: 30px;">
            <a href="{% url 'home' %}">
               | InstaClone
            </a>
         </div>
      </div>

      <div class="search">
         <form action="{% url 'search' %}" method="get">
            <input type="text" name="insta_search" id="insta-search" placeholder="&#xf002; Search">
            <button type="submit" hidden></button>
         </form>
      </div>
      <div class="user-menu">
         <div class="profile-icon">
            <a href="{% url 'profile' %}">
               <img src="{% static 'images/account.svg' %}" alt="">
            </a>
         </div>
      </div>
   </nav>
</div>