{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page" style="background-color:rgba(196, 192, 192, 0.274);">

   <div class="form-container" style="border-radius: 12px;">

      <form action="" method="post" style="border-radius: 32px;">

         {% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="btn" style="border-radius: 10px;">Sign Up</button>
      </form>

   </div>

   <div class="acc-status-check" style="background-color: white;border-radius: 20px;">
      <p>Have an account? <a href="{% url 'login' %}">Log In</a></p>
   </div>

</div>

{% endblock content %}